%h1 All Jobs

%table{:border => 1, :class => 'table table-striped'}
  %tr
    %th Title
    %th Employer
    %th Person
    %th Salary
    / %th{:colspan => 2} Actions
  - @jobs.each do |job|
    %tr
      %td= link_to "#{job.job_title.name}", job_path(job)
      %td= job.employer
      %td= job.person.name
      %td= "$#{job.salary}"
      / %td= link_to 'Edit', edit_person_path(person), {class: 'btn'}
      / %td= link_to 'Delete', person_path(person), {method: :delete, class: 'btn btn-warning'}


