%p New Job
= form_for :job, url: jobs_path do |f|
  .form-group
    = f.label :job_title
    %p
    = f.select(:job_title_id, options_for_select(JobTitle.all.map {|jt| [jt.name, jt.id]}), class: 'form-control')
    %p
    = f.label :person
    %p
    = f.select(:person_id, options_for_select(Person.all.map {|p| [p.name, p.id]}), class: 'form-control')
    %p
    = f.label :salary
    %p
    = f.text_field(:salary, class: 'form-control')
    %p.button
    = f.submit
